body{
  color: f7f7f7;
}
div .alert{
  text-align: center;
  font-weight: bold;
}

.img-preview, .img-preview i {
      position: relative;
      max-height: 200px;
  }
  
.img-preview:hover {
  background: rgba(115, 74, 211, 0.21);    
}

.img-preview i {
  position: absolute;
  top: 45%;  
  left: 45%;
  transform: translate(-45%, -45%);
  display: none;
}

.img-preview:hover img {
  opacity: 0.5;
}

.img-preview:hover i {
  display: block;
  z-index: 500;
}
.inline{
display: inline;
}
#documents{
  font-size: 0.85em;
  text-align: center;
}
#documents td {
  padding: 10px;
}